/** Main **/

/** Layouts **/
.content{
    position: relative;
    min-height: 100%;
    margin:0  220px 0 270px;    
    padding:15px 20px;
    padding-top:67px;
}
.header{
    position: fixed;
    z-index: 100;
    top: 0;
    width:100%;
    height: 52px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);    
    padding:15px 20px;
    font-size:1.3em;
    font-family:'Roboto Condensed';
    text-transform: uppercase;
}


.sidebar{
    width: 230px;
    height: 100%;
    padding:15px 20px;
    padding-top:67px;
    margin-right:40px;
    position: fixed;
    z-index:10;    
    background-color: #FF5722;
    color:#fff;  
}  
.sidebar:after{
    content:'';
    position: absolute;
    top:0;
    bottom:0;
    height: 0px;
    right: -30px;
    border-top: 450px solid transparent;
    border-bottom: 400px solid transparent;
    border-left: 30px solid #FF5722;
}

.rightbar{
    width: 220px;
    height: calc(100% - 52px);
    padding:15px 20px;
    position: fixed;
    top: 52px;
    right: 0;
    z-index:10;    
    background-color: #E0E0E0;
    color:rgba(0,0,0,0.87);  
}