@import 'linear.icons.css';
@import 'scroll.ui.css';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:focus {
outline: 0;
}

/** Main styles **/
html, body{
    min-height: 100%;
    height: 100%;
}
my-app{
    min-height: 100%;
    height:100%;
    display: block;
}
body{
    overflow-y: scroll;
    overflow-x:hidden;
}
*{
    box-sizing: border-box;
}
body{
    font-size:16px;
    font-family:'Roboto';
}
a,.link{
    cursor: pointer;
    color:inherit;
    text-decoration: underline;
}
a:hover, .link:hover{
    text-decoration:none;
}






.pull-right{
    float:right;
}
.pull-left{
    float:left;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align:center;
}

.btn{
    cursor:pointer;
    display: inline-block;
    padding:10px 25px;
    margin:-10px 10px;
    border: none;
    border-radius: 4px; 
    font-size:inherit;  
}
.btn[disabled]{
    opacity: .7;
    cursor: default;
}
.btn-default{
    color:inherit;   
    background-color: transparent;
}

.icon{
    vertical-align: middle;
    font-size: 24px;
}
.btn-box{
    border-radius:50%;
    padding:15px;
    margin: -15px 15px;
}
.btn-icon{
    padding:0;
    margin: -2px 5px;    
}
.btn-primary{
    position: absolute;
    z-index: 10;
    bottom:40px;
    right:30px;
    box-shadow: 1px 1px 5px rgba(0,0,0,.3);
    font-weight: bold;
}
.btn-primary .icon{
    font-size:32px;
}
.btn-success{
    background-color: #FF3D00;
    color: rgba(255,255,255,0.87);
}

h1{
    font-size:2.3em;
    margin-bottom: .5em;
}
h2{
    font-size:1.8em;
    margin-bottom: .5em;
}
h3{
    font-size:1.5em;
    margin-bottom: .5em;
}
h4{
    font-size:1.3em;
    margin-bottom: .5em;
}
h5{
    font-size:1.2em;
    margin-bottom: .5em;
}
h6{
    font-size:1.1em;
    margin-bottom: .5em;
}

.form-control{
    text-align: left;
    margin-bottom: 1.2em;
}
.form-control label{
    display: block;
    font-size: .8em;
    font-weight: bold;
    color: rgba(0,0,0,.87);
    margin-bottom: .5em;
}
.input{
    display: block;
    width:100%;
    padding: 7px 7px;
    border-radius:2px;
    border:1px solid #eee;
}
.input:focus{
    border:2px solid #eee;
    padding: 6px 6px;
}

