/*Webkit scroll*/
::-webkit-scrollbar {
  position: absolute;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #20c668;
  width: 5px;
  border-radius: 3px;
  box-shadow: 0 0 1px rgba(0,0,0,.1), 0 0 2px rgba(255,255,255,.3);
}

::-webkit-scrollbar-track {
  width: 5px;
  border-radius: 3px;
  box-shadow: inset 0 0 1px rgba(0,0,0,.2);
}

/*IE scroll*/
*{
  scrollbar-base-color: #ebf1f4;
  scrollbar-face-color: #20c668;
  scrollbar-3dlight-color:#ebf1f4;
  scrollbar-highlight-color: #ebf1f4;
  scrollbar-track-color: #ebf1f4;
  scrollbar-arrow-color: #20c668;
  scrollbar-shadow-color: #ebf1f4;
  scrollbar-dark-shadow-color: #ebf1f4;
}
