.auth-form{
  max-width:300px;
  padding:20px 20px  15px;
  margin: 50px auto;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0,0,0,.3);


}
.auth-form__footer{
  margin: 15px -20px -15px;
  padding: 15px 20px;
  background-color: rgba(0,0,0,.1);
}
.auth-form__main-btn{
  margin: 10px auto 10px;
}



.ng-valid[required] {
  border-right: 5px solid #42A948; /* green */
}

.ng-invalid {
  border-right: 5px solid #a94442; /* red */
}
.alert.alert-danger{
  position: absolute;
  margin-top: 3px;
  margin-left: 5px;
  font-size: .7em;
  color: #b31e00;
}