<div class="auth-form text-center" *ngIf="Auth.step == 'login'">
    <h2>Welcome</h2>
    <form name="user.signIn" (submit)="signIn()" #userSignIn="ngForm">
        <form-field name="username" label="Email" >
            <input class="input" type="email" name="username"
                   [(ngModel)]="User.username" ngControl="username" required #username="ngForm"/>
            <div [hidden]="username.valid" class="alert alert-danger">
                Email is required
            </div>
        </form-field>
        <form-field name="password" label="Password">
            <input class="input" type="password" name="password"
                   [(ngModel)]="User.password" ngControl="password" required/>
        </form-field>
        <button class="btn btn-success auth-form__main-btn"
                [disabled]="!userSignIn.form.valid">Sign In</button>
    </form>

    <div class="auth-form__footer">
        Not a member? <span class="link" (click)="onSignUp()">SIGN UP NOW!</span>
    </div>
</div>

<user-register *ngIf="Auth.step !== 'login'" [Auth]="Auth" [User]="User"></user-register>