<div class="auth-form text-center">
    <h2>Registration</h2>
    <form name="user.auth" (submit)="register()" *ngIf=" Auth.step == 'auth'">
        <form-field name="username" label="Email">
            <input class="input" type="email" name="username" [(ngModel)]=" User.username" />
        </form-field>
        <form-field name="password" label="Password">
            <input class="input" type="password" name="password" [(ngModel)]=" User.password" />
        </form-field>
        <form-field name="confirmPassword" label="Confirm Password">
            <input class="input" type="password" [(ngModel)]="User.confirmPassword" />
        </form-field>
        <button class="btn btn-success auth-form__main-btn" >Sign Up</button>
    </form>
    <form name="user.register" (submit)="register()" *ngIf=" Auth.step == 'info'">
        <form-field name="firstName" label="First Name">
            <input class="input" type="text" [(ngModel)]=" User.firstName" />
        </form-field>
        <form-field name="lastName" label="Last Name">
            <input class="input" type="text" name="lastName" [(ngModel)]=" User.lastName" />
        </form-field>
        <form-field name="phone" label="Phone">
            <input class="input" type="text" [(ngModel)]=" User.phone" />
        </form-field>
        <button class="btn btn-success auth-form__main-btn" >Finish</button>
    </form>

    <div class="auth-form__footer">
        Back to <span class="link" (click)="onSignIn()">SIGN IN!</span>
    </div>
</div>